/*
* Sienna DeMedio
* December 7th, 2017
* Ribbon Seal Webpage 
*/


/* The universal selector */

* {background-color: #f4e1ab;
	margin: 0;
	padding: 0:  }

/* Put body attributes here */

body { font-family: verdana;
		width: 960px;
		margin: auto;
			}
/* Make sure to wrap text around image */
h1 {text-align: center;
	font-family: verdana header;
	font-size: 20pt;
	color: red;}
h2 {text-align: left;
	font-weight: bold;
	text-decoration: underline; 
	font-family: verdana header;
	font-size: 14pt;
	color: green; }
h3 {text-align: left;
	font-weight: bold;
	text-decoration: underline;
	font-family: verdana header;
	font-size: 14pt;
	color: green;}
h3 {text-align: left;
	font-family: verdana header;
	font-size: 14pt;
	color: green;}
h4 {text-align: left;
	font-weight: bold;
	text-decoration: underline;
	font-family: verdana header;
	font-size: 14pt;
	color: green;}
h5 {text-align: left;
	font-weight: bold;
	text-decoration: underline; 
	font-family: verdana header;
	font-size: 14pt;
	color: green;}
/* Image size needs to be adjusted */
img {float: left;
	margin: 10px;
	height: 120px;
	width: 20%;
}
	
.imgtop {
	float:left;
	margin:10px; 
	height: 120px;
	width: 20%;	}
	
.last {clear: both;}



 
